<p>user-role-mapping works!</p>
<div class="p-fluid">
    <form [formGroup]="userRoleForm" (ngSubmit)="onSubmit()">
        <fieldset>
            <legend>User Role Mapping Details</legend>
            <div class="form-group p-field" >
            <label for="UserID">User ID</label>
            <p-dropdown formControlName="UserID" [options]="users" optionLabel="name" placeholder="Select a user"
            optionLabel="Name" [(ngModel)]="selectedUser"></p-dropdown>
            <div *ngIf="userRoleForm.get('UserID')?.invalid && userRoleForm.get('UserID')?.touched" class="text-danger">
                User ID is required!
            </div>
            </div>
        
            <div class="form-group p-field" >
            <label for="Roles">Roles</label>
            <p-multiSelect [options]="roles" formControlName="selectedRoles" placeholder="Select Roles" 
            optionLabel="RoleName" [(ngModel)]="selectedRoles"></p-multiSelect>

            <div *ngIf="userRoleForm.get('selectedRoles')?.invalid && userRoleForm.get('selectedRoles')?.touched" class="text-danger">
                Roles are required
            </div>
            </div>
    
            <button type="submit" [disabled]="!userRoleForm.valid">Submit</button>
        </fieldset>
    </form>
</div>