<p>user-role-mapping works!</p>
<div class="p-fluid">
    <form [formGroup]="userRoleForm" (ngSubmit)="onSubmit()">
        <fieldset>
            <legend>User Role Mapping Details</legend>
            <div class="form-group p-field" >
            <label for="UserID">User ID</label>
            <p-dropdown formControlName="UserID" [options]="userIds" optionLabel="name" placeholder="Select a user"></p-dropdown>
            <div *ngIf="userRoleForm.get('UserID')?.invalid && userRoleForm.get('UserID')?.touched" class="text-danger">
                User ID is required
            </div>
            </div>
        
            <div class="form-group p-field" >
            <label for="Roles">Roles</label>
            <p-dropdown formControlName="Roles" [options]="roles" optionLabel="name" [multiple]="true" placeholder="Select Roles"></p-dropdown>
            <div *ngIf="userRoleForm.get('Roles')?.invalid && userRoleForm.get('Roles')?.touched" class="text-danger">
                Roles are required
            </div>
            </div>
    
            <button type="submit" [disabled]="!userRoleForm.valid">Submit</button>
        </fieldset>
    </form>
</div>